name: Build package

on:
  push
  release:
    types:
      - created
  
env:
  BUILD_OUTPUT_PATH: build_output

# Prevent running multiple-runners per workflow-file per event-name per branch per github-user (/ref)
# Ex. multiple changes are commited on the same PR/branch in a very short timespan,
#     cancel the previous runner (as it's not the latest anymore)
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  build_installer:
    permissions:
      contents: write  
    runs-on: windows-2019
    steps:
        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        - name: download packages
          shell: bash
          run: ./scripts/package-download.sh
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - run: mkdir -p ${{env.BUILD_OUTPUT_PATH}}
    
        - shell: cmd
          run: .\scripts\installer-build.bat

        - uses: actions/upload-artifact@v4
          id: artifact-upload-step
          with:
            name: installer-artifact
            path: build_output/
        - name: Output artifact url
          run:  echo 'Artifact url is ${{ steps.artifact-upload-step.outputs.artifact-url }}'
  
  release package:
    needs: build_installer
    if: github.event_name == 'release'
    steps:
        - run: mkdir -p dist
        - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: installer-artifact
          path: dist/
        - run: cd dist; zip -r ../installer-package.zip .
        - run:
          gh release upload ${{ github.event.release.tag_name }}
          installer-package.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        


